*.d -linguist-detectable
*.g4 -linguist-detectable
mix.exs -linguist-detectable
*.lex linguist-detectable
*.re -linguist-detectable
*.hs linguist-detectable
*.re -linguist-detectable
Makefile linguist-detectable
*.catty linguist-detectable
*.catty linguist-language=Catty
*.html linguist-documentation
*.css linguist-documentation
anan.rs linguist-language=Rust